html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}
img{
    max-width: 100%;
    display: block;
}
h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 3.4rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2.6rem;
}
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
input{
    font-size: 1.6rem;
}
p{
    font-size: 2rem;
}
a{
    text-decoration: none;
}
/* ****LOGIN*** */
.background{
    background-color: #C51E4A;
    padding-top: 5rem;
    height: 100vh;
}
.contenido-login{
    max-width: 70rem;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
}
.pictures{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}
.formulario-login{
    max-width: 60rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.formulario-login input{
    max-width: 100%;
    width: 90%;
    margin: 1rem 0 .5rem 0;
}
.boton{
    display: inline-block;
    margin-bottom: 1rem;
}
.boton-rosa{
    background-color: #C51E4A;
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    border: none;
    border-radius: 2rem;
    padding: 1rem 2rem;
}
.boton-rosa:hover{
    background-color: #911737;
}
.formulario-cuenta a{
    color: #C51E4A;
}
.formulario-cuenta a:hover{
    color: #911737;
}